@font-face {
    font-family: "Mont Demo light";
    src: url("../Asset/Font/mont/Mont-ExtraLightDEMO.otf");
}

@font-face {
    font-family: "Mont Demo";
    src: url("../Asset/Font/mont/Mont-HeavyDEMO.otf");
}

@font-face {
    font-family: "Abril Fatface";
    src: url("../Asset/Font/abril-fatface/AbrilFatface-Regular.otf");
}

@font-face {
    font-family: "Gotham light";
    src: url("../Asset/Font/gotham_ssv/Gotham-Light.otf");
}

@media only screen and (min-width: 1200px) {
    .con {
        max-width: 1300px !important;
    }
}

@media only screen and (max-width: 763px) {
    .colProfile {
        margin-top: 125px;
    }
    .colProfileDesc {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 1266px) {
    .con {
        max-width: 1366px;
    }
}

@media only screen and (max-width: 980px) {
    .btnLearn{
        width: 100% !important;
    }
}

@media only screen and (max-width: 511px) {
    .pname, .psurname {
        font-size: 45px !important;
    }
    .pname {
        margin-left: 20%;
    }
    .psurname {
        margin-left: 50% !important;
    }
    .imgsignature {
        margin-left: 0px !important;
    }
    .imgGlogo {
        width: 250px !important;
    }
    .lblposition {
        font-size: 14px !important;
        margin: 0 auto !important;
        text-align: center !important;
        display: block;
        margin-top: 40px !important;
    }
    .imgbullet {
        width: 10px !important;
    }
    .pdesc {
        font-size: 14px !important;
        display: block;
        text-align: justify;
        padding-bottom: 100px !important;
    }
    .overlay nav {
        font-size: 30px !important;
        margin-left: 0% !important;
    }
    .overlay ul li {
        height: calc(100%/ 5) !important;
    }
    .colProfileDesc {
        margin-top: 40px;
    }
    .pFooter {
        font-size: 0.9rem !important;
        text-align: center !important;
    }
    .divFooter {
        margin-top: 10px !important;
        float: left !important;
    }
    .pAbout, .pSolutions {
        font-size: 1.5rem !important;
    }
    .pAboutDesc {
        font-size: 0.9rem !important;
    }
    .conServices {
        height: auto !important;
    }
}

@media (min-aspect-ration:16/9) {
    video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ration:16/9) {
    video {
        width: 100%;
        height: auto;
    }
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #424242;
    overflow: hidden;
    scroll-behavior: smooth;
}

#myVideo1 {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.conNavbar {
    transition: all 0.2s;
}

.conBg {
    background: url("../Asset/Image/phonebg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.button_container {
    position: absolute;
    top: 28px;
    right: 2%;
    height: px;
    background-color: black;
    width: 35px;
    cursor: pointer;
    z-index: 10000000000;
    transition: opacity .25s ease;
}

.button_container:hover {
    opacity: .7;
}

.button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #fff !important;
}

.button_container.active .middle {
    opacity: 0;
    background: #fff !important;
}

.button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #fff !important;
}

.button_container span {
    background: black;
    border: none;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer;
}

.button_container span:nth-of-type(2) {
    top: 11px;
}

.button_container span:nth-of-type(3) {
    top: 22px;
}

.overlay {
    position: fixed;
    background: #212121;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 1;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    z-index: 99999999999999999999999999999;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
    animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
    animation-delay: .35s;
}

.overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
}

.overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s;
}

.overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .50s;
    animation-delay: .50s;
}

.overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 4.4rem;
    font-family: 'Mont Demo';
    font-weight: bold;
    text-align: left;
    margin-left: 30%;
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
}

.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
}

.overlay ul li a {
    font-family: Mont Demo;
    color: #fff;
    display: block;
    position: relative;
    font-weight: bold;
    text-decoration: none;
    overflow: hidden;
}

.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
}

.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #fff;
    transition: .35s;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

ul {
    display: table;
}

li {
    display: table-cell;
    position: relative;
    padding: 15px 0;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    width: max-content;
}

a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

.divlabel {
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.lbllabel {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-style: italic;
    font-size: 1.5rem;
}

.pname {
    font-family: Abril Fatface;
    font-size: 5.5rem;
    color: white;
}

.psurname {
    font-family: Abril Fatface;
    font-size: 5.5rem;
    color: white;
    line-height: 0;
    margin-top: 10px;
    margin-left: 180px;
}

.lblposition {
    font-family: Mont Demo light;
    color: white;
    font-size: 1.4rem;
    margin-top: 40px;
}

.pdesc {
    font-family: Mont Demo light;
    color: white;
    font-size: 1.1rem;
    margin-top: 25px;
}

.divfooter {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2%;
}

.lblfooter {
    font-family: Gotham light;
    color: white;
    font-size: 0.9rem;
}

.imgprofilepic {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 7));
        transform: translateX(calc(-250px * 7));
    }
}

.slider {
    background: #e2e2e2;
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, #e2e2e2 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 35s linear infinite;
    animation: scroll 35s linear infinite;
    display: flex;
    width: calc(250px * 5);
}

.slider .slide {
    height: 100px;
    width: 250px;
}

.pServicesTitle {
    font-family: Mont DEMO;
    color: #e2e2e2;
    font-size: 4rem;
    font-weight: bold;
}

.conServices1 {
    background: url("../Asset/Image/bg1.png");
    background-size: cover;
}

.divServicesTitle {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 2%;
    ;
    text-align: center;
}

.pServicesDescription {
    font-family: Gothan light;
    color: #e2e2e2;
    font-size: 1.2rem;
}

.pClients {
    font-family: Mont Demo;
    color: #424242;
    font-size: 3rem;
    padding-bottom: 10px;
}

.pSolutions {
    font-family: Mont Demo;
    color: #e2e2e2;
    font-size: 4rem;
}

.pAbout {
    font-family: Mont Demo;
    color: #e2e2e2;
    font-size: 4rem;
}

.pAboutDesc {
    font-family: Gotham light;
    color: #e2e2e2;
    font-size: 1.1rem;
    margin-top: 30px;
    text-align: left;
}

.imgG {
    z-index: -1;
    width: 550px;
    text-align: center;
    opacity: 0.2;
}

.img-wrap {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.cardSolution1 {
    cursor: pointer;
    transition: all 0.2s;
}

.cardSolution1:hover, .cardSolution2:hover, .cardSolution3:hover {
    background-color: black !important;
}

.cardSolution1:hover *, .cardSolution2:hover *, .cardSolution3:hover * {
    color: white !important;
}

.pFooter {
    font-family: Mont Demo;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    transition: all 0.2s;
}

.pFooter:hover {
    color: #d3b675;
}

.imgFooter {
    width: 28px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.2s;
}

.imgFooter:hover {
    -webkit-filter: opacity(0.2) drop-shadow(0 0 0 #d3b675);
    filter: opacity(0.2) drop-shadow(0 0 0 #d3b675);
}

.imgLogo {
    width: 80px;
    cursor: pointer;
    transition: all 0.2s;
}

.pOurServices {
    font-family: Gotham light;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.pWe {
    font-family: Gotham light;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

.conServices {
    background: url("../Asset/Image/s.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    height: 400px;
    z-index: -100;
}

.btnLearn {
    font-family: Gotham light;
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 10px;
    width: 180px;
    transition: all 0.2s;
    margin-top: 30px;
    outline: #d3b675;
}

.btnLearn:hover {
    color: #d3b675;
}